<p>ID: <span class="bold">{{ model.id }}</span></p>
<p>Created On: <span class="bold">{{ model.created }}</span></p>
<p>Code: <span class="bold">{{ model.code }}</span></p>
<p>Description: <span class="bold">{{ model.description }} </span></p>