{% extends 'framework/app/base.twig' %}

{% block content %}
	<div class="container main">
		<div class="text-center">
			<h2>Calculator</h2>
			<p>We're taking care your hard part</p>
		</div>

		{% include 'app/calculator/form.twig' %}
	</div>
{% endblock %}